h1 a {
    color: red;
    font-family: 'Lobster';
    text-align: center;
}
.fb {
    color: white;
    font-family: 'Lobster';
    text-align: center;
    font-size: 20;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
    border-color: red;
}
body {
    padding-left: 15px;
    text-align: center;
}
.page-header {
    background-color: red;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}